.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 20px 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Animação para as imagens */
.animated-image {
    transition: transform 0.3s ease-in-out;
}

.animated-image:hover {
    transform: scale(1.1);
}